
####using dual-core system board test the switch board code

#NET clk       LOC=AB12; #CLKOUT
NET clk       LOC=A11;  #14.74MHZ
#NET clk       LOC=B11;  #32MHZ

NET srx_a	LOC =   A14  ;	# rs422A
NET	srx_b   LOC =	A15;
NET srx_c	LOC =	B15;
NET srx_d	LOC =	B16;

NET stx_a	LOC =	A13;
NET stx_b	LOC =	A16;
NET stx_c	LOC =	B17;
NET stx_d	LOC =	B14;


########   LED  ###########################
#NET led1      LOC=D1;
#NET led2      LOC=D2;
#NET led3      LOC=E1;

NET led1      LOC=D1;
NET led2      LOC=D2;








