
### 

NET clk     LOC = A11  ;   # 24mhz

NET srx_c   LOC =   AB6; #通讯链路A 接收端
NET srx_d   LOC =   AB7; #       B 接收端
#NET pwm_a   LOC =   P18; # cpu a emios1
#NET pwm_b   LOC =   N18; # cpu b emios1

NET led1    LOC =   B5;
NET led2    LOC =   A5;
NET led3    LOC =   B4;
NET led4    LOC =   A4;
NET led5    LOC =   F5;

#NET GPIO_A  LOC =   Y22; # CPU A GPIO205
#NET GPIO_B  LOC =   A17;

NET  sw0    LOC =   L17;
NET  sw1    LOC =   M18;
NET  sw2    LOC =   P17;
NET  sw3    LOC =   N17;    

NET  power_on_A  LOC = AA6;
NET  power_on_B  LOC = C5;

NET  reset_A_pin_n LOC = W21;
NET  reset_B_pin_n LOC = B15;

############input switch #################
net input_switch0<0> loc= G22; #rs422A+
net input_switch0<1> loc= G19; #rs422A-
net input_switch0<2> loc= H19; #rs422B+
net input_switch0<3> loc= L20; #rs422B-

#net input_switch0<4> loc= 
#net input_switch0<5> loc= 
#net input_switch0<6> loc= 
#net input_switch0<7> loc=

net input_switch1<0> loc= N2; #emios23
net input_switch1<1> loc= M1; #etpub14
net input_switch1<2> loc= M2; #etpub18
net input_switch1<3> loc= L2; #etpub20
net input_switch1<4> loc= K1; #etpub21
net input_switch1<5> loc= K2; #etpub24
net input_switch1<6> loc= J1; #etpub25
net input_switch1<7> loc= J2; #etpub27

net input_switch2<0> loc= U3; #etpub28
net input_switch2<1> loc= T3; #etpub31
net input_switch2<2> loc= R3; #MDO7
net input_switch2<3> loc= P1; #MDO8
net input_switch2<4> loc= P2; #MDO10
net input_switch2<5> loc= N1; #MDO11
net input_switch2<6> loc= P3; #FPGA IO0
net input_switch2<7> loc= N3; #FPGA IO1

net input0_to_A<0> loc= W16; #A_RS422A+
net input0_to_A<1> loc= W15; #A_RS422A-
net input0_to_A<2> loc= V19; #A_RS422B+
net input0_to_A<3> loc= W17; #A_RS422B-
#net input0_to_A<4> loc=
#net input0_to_A<5> loc=
#net input0_to_A<6> loc=
#net input0_to_A<7> loc=

net input0_to_B<0> loc= K19; #B_RS422A+
net input0_to_B<1> loc= G18; #B_RS422A-
net input0_to_B<2> loc= J18; #B_RS422B+
net input0_to_B<3> loc= H18; #B_RS422B-
#net input0_to_B<4> loc=
#net input0_to_B<5> loc=
#net input0_to_B<6> loc=
#net input0_to_B<7> loc=

net input1_to_A<0> loc= R22;    #A_EMIOS23
net input1_to_A<1> loc= AB17;   #A_ETPUB14
net input1_to_A<2> loc= R21;    #A_ETPUB18
net input1_to_A<3> loc= T21;    #A_ETPUB20
net input1_to_A<4> loc= T22;    #A_ETPUB21
net input1_to_A<5> loc= U21;    #A_ETPUB24
net input1_to_A<6> loc= U22;    #A_ETPUB25
net input1_to_A<7> loc= V21;    #A_ETPUB27

net input2_to_A<0> loc= V22;    #A_ETPUB28
net input2_to_A<1> loc= W22;    #A_ETPUB31
net input2_to_A<2> loc= AB19;   #A_MDO7
net input2_to_A<3> loc= AB18;   #A_MDO8
net input2_to_A<4> loc= AA20;   #A_MDO10
net input2_to_A<5> loc= R18;    #A_MDO11
net input2_to_A<6> loc= Y2;     #A_FPGAIO0
net input2_to_A<7> loc= AB5;    #A_FPGAIO1

net input1_to_B<0> loc= C21;    #B_EMIOS23
net input1_to_B<1> loc= G20;    #B_ETPUB14
net input1_to_B<2> loc= C22;    #B_ETPUB18
net input1_to_B<3> loc= C18;    #B_ETPUB20
net input1_to_B<4> loc= M17;    #B_ETPUB21
net input1_to_B<5> loc= A19;    #B_ETPUB24
net input1_to_B<6> loc= B19;    #B_ETPUB25
net input1_to_B<7> loc= A18;    #B_ETPUB27

net input2_to_B<0> loc= B18;    #B_ETPUB28
net input2_to_B<1> loc= B17;    #B_ETPUB31
net input2_to_B<2> loc= J20;    #B_MDO7
net input2_to_B<3> loc= H20;    #B_MDO8
net input2_to_B<4> loc= B16;    #B_MDO10
net input2_to_B<5> loc= A16;    #B_MDO11
net input2_to_B<6> loc= C2;     #B_FPGAIO0
net input2_to_B<7> loc= C4;     #B_FPGAIO1


# output switch
net output_switch0<0> loc= G21; #TS422A+
net output_switch0<1> loc= H22; #TS422A-
net output_switch0<2> loc= J19; #TS422B+
net output_switch0<3> loc= K20; #TS422B-
net output_switch0<4> loc= M20; #TS422C+
net output_switch0<5> loc= N20; #TS422C-
net output_switch0<6> loc= P20; #TS422D+
net output_switch0<7> loc= R20; #TS422D-

net output_switch1<0> loc=M3;   #FPGA_IO2
net output_switch1<1> loc=L3;   #FPGA_IO3
net output_switch1<2> loc=K3;   #FPGA_IO4
net output_switch1<3> loc=J3;   #FPGA_IO5
net output_switch1<4> loc=H3;   #FPGA_IO6
net output_switch1<5> loc=G3;   #FPGA_IO7
net output_switch1<6> loc=F3;   #FPGA_IO8
net output_switch1<7> loc=E3;   #FPGA_IO9

net output_switch2<0> loc=H4;   #FPGA_IO10
net output_switch2<1> loc=G4;   #FPGA_IO11
net output_switch2<2> loc=F4;   #FPGA_IO12
net output_switch2<3> loc=J5;   #FPGA_IO13
net output_switch2<4> loc=R5;   #FPGA_IO14
net output_switch2<5> loc=P5;   #FPGA_IO15
net output_switch2<6> loc=N5;   #FPGA_IO16
net output_switch2<7> loc=M5;   #FPGA_IO17

net  output0_from_A<0> loc= Y21;#A_TS422A+
net  output0_from_A<1> loc= V20;#A_TS422A-
net  output0_from_A<2> loc= J22;#A_TS422B+
net  output0_from_A<3> loc= H21;#A_TS422B-
net  output0_from_A<4> loc= J21;#A_TS422C+
net  output0_from_A<5> loc= K22;#A_TS422C-
net  output0_from_A<6> loc= L22;#A_TS422D+
net  output0_from_A<7> loc= K21;#A_TS422D-

net  output1_from_A<0> loc= Y1;#A_FPGA_IO2
net  output1_from_A<1> loc= W1;#A_FPGA_IO3
net  output1_from_A<2> loc= W2;#A_FPGA_IO4
net  output1_from_A<3> loc= V1;#A_FPGA_IO5
net  output1_from_A<4> loc= V2;#A_FPGA_IO6
net  output1_from_A<5> loc= U1;#A_FPGA_IO7
net  output1_from_A<6> loc= U2;#A_FPGA_IO8
net  output1_from_A<7> loc= T1;#A_FPGA_IO9

net  output2_from_A<0> loc= T2;#A_FPGA_IO10
net  output2_from_A<1> loc= R1;#A_FPGA_IO11
net  output2_from_A<2> loc= R2;#A_FPGA_IO12
net  output2_from_A<3> loc= T4;#A_FPGA_IO13
net  output2_from_A<4> loc= R4;#A_FPGA_IO14
net  output2_from_A<5> loc= P4;#A_FPGA_IO15
net  output2_from_A<6> loc= N4;#A_FPGA_IO16
net  output2_from_A<7> loc= M4;#A_FPGA_IO17

net  output0_from_B<0> loc= R19;#B_TS422A+
net  output0_from_B<1> loc= T20;#B_TS422A-
net  output0_from_B<2> loc= U19;#B_TS422B+
net  output0_from_B<3> loc= U20;#B_TS422B-
net  output0_from_B<4> loc= P19;#B_TS422C+
net  output0_from_B<5> loc= N19;#B_TS422C-
net  output0_from_B<6> loc= L19;#B_TS422D+
net  output0_from_B<7> loc= M19;#B_TS422D-

net  output1_from_B<0> loc= C1;  #B_FPGA_IO2
net  output1_from_B<1> loc= D1;  #B_FPGA_IO3
net  output1_from_B<2> loc= D2;  #B_FPGA_IO4
net  output1_from_B<3> loc= E1;  #B_FPGA_IO5
net  output1_from_B<4> loc= E2;  #B_FPGA_IO6
net  output1_from_B<5> loc= F1;  #B_FPGA_IO7
net  output1_from_B<6> loc= F2;  #B_FPGA_IO8
net  output1_from_B<7> loc= G1;  #B_FPGA_IO9

net  output2_from_B<0> loc= G2;#B_FPGA_IO10
net  output2_from_B<1> loc= H1;#B_FPGA_IO11
net  output2_from_B<2> loc= H2;#B_FPGA_IO12
net  output2_from_B<3> loc= G5;#B_FPGA_IO13
net  output2_from_B<4> loc= H5;#B_FPGA_IO14
net  output2_from_B<5> loc= J4;#B_FPGA_IO15
net  output2_from_B<6> loc= K4;#B_FPGA_IO16
net  output2_from_B<7> loc= L5;#B_FPGA_IO17

######################################################
NET A_we_n<0>  LOC=v15;
NET A_we_n<1>  LOC=y15;
NET A_we_n<2>  LOC=w11;
NET A_we_n<3>  LOC=y16;

NET A_cs_n     LOC=AA16; #cs2
NET A_oe_n     LOC=AA17;  #OE
NET A_rd_wr    LOC=AB15;  #RD_WR

NET A_ebi_addr<2> LOC=AA13; #A29
NET A_ebi_addr<3> LOC=Y11; #A28
NET A_ebi_addr<4> LOC=Y10; #A27
NET A_ebi_addr<5> LOC=V10; #A26
NET A_ebi_addr<6> LOC=U11;  #A25
NET A_ebi_addr<7> LOC=AB13;  #A24
NET A_ebi_addr<8> LOC=U12;  #A23
NET A_ebi_addr<9> LOC=V11;  #A22
NET A_ebi_addr<10> LOC=Y13; #A21
NET A_ebi_addr<11> LOC=AB14 #A20
NET A_ebi_addr<12> LOC=V13; #A19
NET A_ebi_addr<13> LOC=W14; #A18
NET A_ebi_addr<14> LOC=Y14; #A17
NET A_ebi_addr<15> LOC=AA15 #A16
NET A_ebi_addr<16> LOC=V16; #A15
NET A_ebi_addr<17> LOC=V14; #A14
NET A_ebi_addr<18> LOC=AB16 #A13
NET A_ebi_addr<19> LOC=W12; #A12
NET A_ebi_addr<20> LOC=Y12; #A11
NET A_ebi_addr<21> LOC=W13; #A10
NET A_ebi_addr<22> LOC=U13; #A09
NET A_ebi_addr<23> LOC=AA14; #A08


NET A_ebi_data<0> LOC=W6 ;  #D31
NET A_ebi_data<1> LOC=AB8;  #D30
NET A_ebi_data<2> LOC=V5 ;  #D29
NET A_ebi_data<3> LOC=AA18  #D28
NET A_ebi_data<4> LOC=V3 ;  #D27
NET A_ebi_data<5> LOC=AA9;  #D26
NET A_ebi_data<6> LOC=AB12  #D25
NET A_ebi_data<7> LOC=U14;  #D24
NET A_ebi_data<8> LOC=AB10  #D23
NET A_ebi_data<9> LOC=T5 ;  #D22
NET A_ebi_data<10> LOC=AB9;  #D21
NET A_ebi_data<11> LOC=AA10  #D20
NET A_ebi_data<12> LOC=Y6 ;  #D19
NET A_ebi_data<13> LOC=AA5;  #D18
NET A_ebi_data<14> LOC=V4 ;  #D17
NET A_ebi_data<15> LOC=U4 ;  #D16
NET A_ebi_data<16> LOC=U9;  #D15
NET A_ebi_data<17> LOC=V8;  #D14
NET A_ebi_data<18> LOC=Y8;  #D13
NET A_ebi_data<19> LOC=AA11 #D12
NET A_ebi_data<20> LOC=Y7;  #D11
NET A_ebi_data<21> LOC=W7;  #D10
NET A_ebi_data<22> LOC=V6;  #D 9
NET A_ebi_data<23> LOC=U5;  #D 8
NET A_ebi_data<24> LOC=W10  #D 7
NET A_ebi_data<25> LOC=U10  #D 6
NET A_ebi_data<26> LOC=V9;  #D 5
NET A_ebi_data<27> LOC=Y9;  #D 4
NET A_ebi_data<28> LOC=AA12 #D 3
NET A_ebi_data<29> LOC=W8;  #D 2
NET A_ebi_data<30> LOC=W9;  #D 1
NET A_ebi_data<31> LOC=V7;  #D 0


#####################################
NET B_we_n<0>  LOC=F19;
NET B_we_n<1>  LOC=D16;
NET B_we_n<2>  LOC=F13;
NET B_we_n<3>  LOC=A13;

NET B_cs_n     LOC=C17 ; #cs2
NET B_oe_n     LOC=D17 ;  #OE
NET B_rd_wr    LOC=D18 ;  #RD_WR

NET B_ebi_addr<2> LOC=E14; #A29
NET B_ebi_addr<3> LOC=D12; #A28
NET B_ebi_addr<4> LOC=C13; #A27
NET B_ebi_addr<5> LOC=F11; #A26
NET B_ebi_addr<6> LOC=A9 ;  #A25
NET B_ebi_addr<7> LOC=E15;  #A24
NET B_ebi_addr<8> LOC=B9 ;  #A23
NET B_ebi_addr<9> LOC=F12;  #A22
NET B_ebi_addr<10> LOC=D14; #A21
NET B_ebi_addr<11> LOC=E17;  #A20
NET B_ebi_addr<12> LOC=F14; #A19
NET B_ebi_addr<13> LOC=C16; #A18
NET B_ebi_addr<14> LOC=D15; #A17
NET B_ebi_addr<15> LOC=E18  #A16
NET B_ebi_addr<16> LOC=B12; #A15
NET B_ebi_addr<17> LOC=F18; #A14
NET B_ebi_addr<18> LOC=E20;  #A13
NET B_ebi_addr<19> LOC=C14; #A12
NET B_ebi_addr<20> LOC=D13; #A11
NET B_ebi_addr<21> LOC=C15; #A10
NET B_ebi_addr<22> LOC=A10; #A09
NET B_ebi_addr<23> LOC=E16; #A08


NET B_ebi_data<0> LOC=C8 ;  #D31
NET B_ebi_data<1> LOC=C7 ;  #D30
NET B_ebi_data<2> LOC=E5 ;  #D29
NET B_ebi_data<3> LOC=F20;   #D28
NET B_ebi_data<4> LOC=E4 ;  #D27
NET B_ebi_data<5> LOC=D11;  #D26
NET B_ebi_data<6> LOC=E13   #D25
NET B_ebi_data<7> LOC=B10;  #D24
NET B_ebi_data<8> LOC=E9;    #D23
NET B_ebi_data<9> LOC=B7;  #D22
NET B_ebi_data<10> LOC=D6 ;  #D21
NET B_ebi_data<11> LOC=E8;    #D20
NET B_ebi_data<12> LOC=D7 ;  #D19
NET B_ebi_data<13> LOC=C6 ;  #D18
NET B_ebi_data<14> LOC=B6 ;  #D17
NET B_ebi_data<15> LOC=A6 ;  #D16
NET B_ebi_data<16> LOC=A8;  #D15
NET B_ebi_data<17> LOC=F9;  #D14
NET B_ebi_data<18> LOC=D9;  #D13
NET B_ebi_data<19> LOC=E10  #D12
NET B_ebi_data<20> LOC=D8;  #D11
NET B_ebi_data<21> LOC=C9;  #D10
NET B_ebi_data<22> LOC=E6;  #D 9
NET B_ebi_data<23> LOC=A7;  #D 8
NET B_ebi_data<24> LOC=C12;  #D 7
NET B_ebi_data<25> LOC=B8;   #D 6
NET B_ebi_data<26> LOC=F10;  #D 5
NET B_ebi_data<27> LOC=D10;  #D 4
NET B_ebi_data<28> LOC=E11;  #D 3
NET B_ebi_data<29> LOC=C10;  #D 2
NET B_ebi_data<30> LOC=C11;  #D 1
NET B_ebi_data<31> LOC=E7;  #D 0


