
### 2013-3 new switch board ucf

NET clk 	LOC = "T9"  ;	# 14.756mhz

# NET clk LOC= A9;	#32MHZ
NET srx_a	LOC =   G15  ;	# rs422A
NET	srx_b   LOC =	H16;
NET srx_c	LOC =	G16;
NET srx_d	LOC =	H15;
NET	pwm_a	LOC =	F12;
NET pwm_b	LOC =	E14;
NET stx_a	LOC =	G14;
NET stx_b	LOC =	G13;
NET stx_c	LOC =	H14;
NET stx_d	LOC =	H13;

NET led1	LOC =	A11;
NET led2	LOC =	A12;
NET led3    LOC =   B13;
NET led4    LOC =   B12;

NET GPIO_A  LOC =   F13;
NET GPIO_B  LOC =   F16;


NET  sw1	LOC =	C16;
NET  sw2	LOC =	D15;
NET  sw3	LOC =	D16;
NET  sw4	LOC =	E16;
NET  sw5	LOC =	E15;
NET  sw6    LOC =   D14;
	








